Exercise 2 - Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
- List of the popular languges for data science such as Python, R and C++
- List of some popular libraries for data science
- Some arithematic operations are performed
- List of some of the popular Data Science tools

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science tools and ecosystem is sumarized

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that the Data Scientist use are:
1. Python
2. R
3. SQL
4. C++
5. Scala

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn

Exercise 6 - Create a markdown cell with a table of Data Science tools


| Data Science Tools|
| ----------------- |
| MySQL             |
| Apache kafka      |
| Git               |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Exercise 8 - Create a code cell to multiply and add numbers

# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# Exercise 9 - Create a code cell to convert minutes to hours

# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Muhammad Bilal Raza